.subTitle {
    width: 800px;
    height: 45px;
    /* background-color: aqua;
    border: 1px solid black; */
    margin: 40px 0;
}

.subtitleList {
    display: flex;
    list-style-type: none;
    gap: 48px;
}

.subLink {
    text-decoration: none;
}