.header {
    display: flex;
    justify-content: space-between;
    /* margin-top: 48px; */
    padding-top: 20px;
}

.logoBlock {
    display: flex;
    gap: 60px;
}

.title {
    height: 40px;
    width: 227px;
    font-size: 12px;
    line-height: 20px;
    margin-top: 16px;
    text-align: start;
}

.contactInfo {
    display: flex;
    gap: 36px;
}

.contact {
    height: 16px;
    width: 145px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin-top: 25px;
}

.login {
    width: 115px;
    height: 50px;
    background: #273895;
    color: #FFFFFF;
    border-radius: 15px;
    border: transparent;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    margin-top: 9px;
}